name: Compile and Upload

on:
  push:
    branches:
      - master
      - staging

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Compile
      run: |
        wget http://fte.triptohell.info/moodles/linux_amd64/fteqcc64
        chmod +x fteqcc64
        echo $PATH
        echo "::add-path::${GITHUB_WORKSPACE}"
        echo $PATH
        make
        mkdir -p dats/${{ github.ref }}
        cp *.dat dats/${{ github.ref }}
    - uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'ap-southeast-2'
        SOURCE_DIR: 'dats/'
